obj
bin
Debug
deploy
deploy/*
*.csproj.user
*.suo
*.cache
StyleCop.Cache
Thumbs.db
~$*
*.log
*.sqlsuo
*.xlsx
*.orig
*.sqlsuo
Debug
Log
packages
.DS_Store
*.sln.DotSettings.user
src/.vs/*
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs
/.vs/*